/* Estilos para el encabezado */
body,
label,
option,
th,
td,h1,h2 {
    color: #fff; /* Color de texto blanco */
    font-family:'Cambria', sans-serif;  
}

body {
    background-image: url('bg.png'); /* Especifica la ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la página */
    background-position: center; /* Centra la imagen en la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    overflow-x: hidden;
}

.wrap-header-hero {
    background: #010035; /* Color de fondo del encabezado */
    border-radius: 10px;
}

header.main-header {
    width: 100%;
    height: 80px; /* Altura del encabezado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Espaciado interno del encabezado */
    color: #eefeff; /* Color del texto del encabezado */
    overflow: hidden;
    
    
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap-logo-header {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Para mantener la proporción de la imagen */
    margin-right: 10px; /* Ajusta el margen entre la imagen y el texto */
}

.logo-text {
    font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
    color: #fff; /* Color del texto */
    padding: 10px;
}

/* Estilos para el menú de navegación */
.nav-header {
    display: flex;
    align-items: center;

}



.main-menu {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.menu-item {
    margin-right: 20px; /* Espacio entre elementos del menú */
}

.menu-item a {
    text-decoration: none;
    color: #eefeff; /* Color de los enlaces del menú */
}

.menu-item a:hover {
    text-decoration: underline /* Subrayado al pasar el ratón sobre los enlaces del menú */
}


/* Estilos para el menú responsivo */
@media (max-width: 768px) {
    

    .main-menu {
        display: none; /* Ocultar el menú principal en pantallas pequeñas */
        position: fixed;
        top: 80px; /* Alinear el menú con el encabezado */
        left: 0;
        width: 100%;
        background-color: #010035; /* Color de fondo del menú responsivo */
        flex-direction: column;
        text-align: center;
    }

    .menu-item {
        margin: 10px 0; /* Espacio entre elementos del menú responsivo */
    }

    
}
body {
    display: flex;
    flex-direction: column;
    background-color: #b6b6b6;
}




.container {
    display: flex;
    justify-content: center;
}

h2{
    margin: 20 px;
}

table {
    width: 35%;
    background-color: #010035;
    padding: 20px 20px 20px 20px ;
    border-radius: 10px;
    margin: 30px 10px 30px 50px;
    box-sizing: border-box;

}

form {
    width: 38%;
    background-color: #010035;
    padding: 0px 20px 20px 20px ;
    border-radius: 10px;
    margin: 30px 40px 30px 0px;
    box-sizing: border-box;
    max-height: 510px;

}



form input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #010035;
    height: 30px;
    box-sizing: border-box;
    
}

#ownerAddress {
    width: 450px; /* Establece el ancho deseado para el input de dirección */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    form{
        
        width: 70%;
        max-height: none;
        max-width: none;
        margin: 10px 0px;
    
    }

    table {
        width: 80%;
        max-height: none;
        max-width: none;
        margin: 10px 0px;
    
    }

   
    #vehicleTable td:nth-child(6),
    #vehicleTable th:nth-child(6) {
        display: none;
    }
    
    

    #ownerAddress {
        width: 190px; /* Establece el ancho deseado para el input de dirección */
        box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
    }
    
}

.inline-group {
    display: inline-block;  
    margin-right: 0;  /* Espaciado entre los grupos de campos */
}

.inline-group label {
    display: block; /* Para que los labels estén encima de los inputs */
}

.inline-group input {
    display: inline-block;
    vertical-align: middle; /* Alinea verticalmente los inputs */
}

.inline-group input[type="text"],
.inline-group input[type="number"],
.inline-group input[type="color"],
.inline-group input[type="url"],
.inline-group select {
    width: 260px; 
    box-sizing: border-box; /* Incluir el padding y el border en el ancho total */
    margin-bottom: 20px; /* Espacio entre los inputs */
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #010035;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* Estilos para la tabla */

#vehicleTable th, #vehicleTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #fff; /* Líneas divisorias entre filas */
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

#vehicleTable button {
    width: 80px;
    height: 18px;

    padding: 2px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    background-color: #980606;
    color: #ffffff;
    cursor: pointer;
}
tr {
    display: flexbox
}


